.no-round-border {
	border-radius: 0 !important;
}

.team-logo {
	width: 5em;
	height: 5em;
}

.team-logo-small {
	width: 2em;
	height: 2em;
}

.image-slider {
	width: 75em !important;
	height: 35em !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}